$color: #000000;
$ltgray: #cccccc;
$dkgray: #aaaaaa;
$bravo-red: #000000;
$standard-padding: 5% 0 5% 0;
$notwhite :#fff;

@media only screen and (max-width: 480px) {
	$standard-padding: 3% 0 3% 0;

}
